<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.cs.home234.Entity.User">
    <select id="getById" parameterType="string" resultMap="getUser">
        select id,uid,user_name,token from user where user_name=#{userName};
    </select>
    <resultMap id="getUser" type="com.cs.home234.Entity.User">
        <id property="id" column="id"></id>
        <result property="userName" column="user_name"></result>
        <result property="uid" column="uid"></result>
        <result property="password" column="token"></result>
    </resultMap>
    <insert id="insert" parameterType="com.cs.home234.Entity.User" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into user(user_name,token,email,uid) values(#{userName},#{password},"abc",#{uid});
    </insert>
</mapper>